title {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px; 
    color: white;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #00ffcc;
}

